@page "/diclist"

<CascadingValue Value="@_treeSelectedIdChange" Name="OnTreeSelectedIdChanged" IsFixed="false">
    <CascadingValue Value="@_openLoading" Name="OnOpenLoadding" IsFixed="false">
        <CascadingValue Value="@_closeLoading" Name="OnCloseLoadding" IsFixed="false">
            <div class="dictionary-page">
                <div class="bs-container">
                    <div class="left-tree">
                        <DictionaryChildLeft />
                    </div>

                    <div class="right-table">
                        <DictionaryChildRight @ref="_rightTable" />
                    </div>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
