@page "/Error"
@attribute [TabItemOption(Text = "ฯตอณดํฮ๓")]

<PageTitle>ฯตอณดํฮ๓</PageTitle>

<Card HeaderText="ฯตอณา์ณฃ" IsShadow="true">
    <BodyTemplate>
        <Alert Color="Color.Danger" ShowBar="true" ShowBorder="true">ดฆภํว๋ว๓สฑทขษ๚มหา์ณฃฃฌว๋ษิบ๓ึุสิกฃ</Alert>
        @if (ShowRequestId)
        {
            <p><strong>Request ID:</strong> <code>@RequestId</code></p>
        }
        <LinkButton Text="ทตปุสืาณ" Url="/" Color="Color.Primary" />
    </BodyTemplate>
</Card>
