@using System.Diagnostics.CodeAnalysis

<div class="app-top-menu">
    <Menu Items="@MenuItems" IsVertical="IsVertical" OnClick="OnClickRemovePopover" />
</div>

@code {
    [NotNull]
    [Parameter]
    public List<MenuItem>? MenuItems { get; set; }

    [Parameter]
    public bool IsVertical { get; set; } = false;

    public async Task OnClickRemovePopover(MenuItem item)
    {
        await JSRuntime.InvokeVoidAsync("RemovePopover", "");
    }
}
